@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
	font-family: 'Montserrat', monospace;
	background-image: url("mountain.jpg");
	height: 100%;
    overflow:hidden;
    background-repeat: no-repeat
}


.container {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
    overflow: hidden;
    overflow: hidden;
    white-space: nowrap;
}

.h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 55px;
    text-align: center; 
    opacity: 0.8;
}

.animation{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 100px;
    text-align: center;

}

.dud {
	color: white;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#object{
    padding-left: 1300px;
    padding-top: 700px;
}


*{
	margin:0px;
	padding:0px;
	font-family: 'Montserrat', monospace;
}

#sidebar{
	position:fixed;
	width:200px;
	height:100%;
	background: #151719;
	left: -200px;
	transition:all 500ms linear;
	z-index: 30;

}
#sidebar.active{
	left:0;
	opacity: 0.8;
}
#sidebar ul li {
	color:rgba(230, 230, 230, 0.9);
	list-style:none;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
}
#sidebar .toggle-btn {
	position:absolute;
	left:230px;
	top:20px;
}
#sidebar .toggle-btn span {
	display:block;
	width:30px;
	height:5px;
	background:#ffffff;
	margin: 5px 0px;
}

#resume{
	margin-top:1%;
	margin-right:30%;
}
#title{
	padding-top: 2%;
}
/* Buttons styles start */
#button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;

		position:absolute;
	  bottom: 45%;
	  right:20%;
    background: #ffffff;
    color: #003366;
    font-family: 'Montserrat', monospace;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
		text-decoration: none;
}

#button:hover,
#button:focus {
    background: #003366;
		color: #ffffff;
}

#button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#button:active {
    transform: scale(0.99);
}
/* Button styles end */

.loadingDiv {
   position: fixed;
   top:20px;
   left:20px;
   right:20px;
   bottom:20px;
   background-color: yellow;
}

.animation {
    position: relative;
    width: 100%;
  }
  .animation div {
    overflow: hidden;
    width: 50%;
    height: 100%;
    transform: skewX(-20deg);
  }
  .animation div::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background: #fff;
  }
  .animation span {
    padding: 0 10px;
  }
  .animation-left::before {
    left: 0;
    animation: widthLineLeft 1.2s 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.1) forwards;
  }
  .animation-left span {
    display: block;
    animation: slideLeft 1.2s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.1) forwards;
    transform: translateX(200px) skewX(20deg);
  }
  .animation-right {
    position: absolute;
    right: 0;
    top: 0;
  }
  .animation-right:before {
    bottom: 0;
    right: 0;
    animation: widthLineRight 1.2s 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.1) forwards;
  }
  .animation-right span {
    position: absolute;
    width: 100%;
    left: -100%;
    transform: translateX(-200px) skewX(20deg);
    animation: slideRight 1.2s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.1) forwards;
  }
  @keyframes slideLeft {
    from {
      transform: translateX(300px) skewX(20deg);
    }
    to {
      transform: translateX(0%) skewX(20deg);
    }
  }
  @keyframes slideRight {
    from {
      transform: translateX(-300px) skewX(20deg);
    }
    to {
      transform: translateX(0%) skewX(20deg);
    }
  }
  @keyframes widthLineLeft {
    0% {
      width: 0%;
      left: 0%;
    }
    50% {
      width: 100%;
      left: 0%;
    }
    100% {
      width: 0%;
      left: 100%;
    }
  }
  @keyframes widthLineRight {
    0% {
      width: 0%;
      right: 0%;
    }
    50% {
      width: 100%;
      right: 0%;
    }
    100% {
      width: 0%;
      right: 100%;
    }
  }

  .container1 {  
    flex-direction: column
  }

  .links{
      margin-left: 25%;
      width: 80%;
      position: relative;
      opacity: 0.9;
  }
  .icon{
      width: 15%;
      
  }
  .icon:hover{
      opacity: 0.5;
  }